<section _ngcontent-ike-c21="" id="team" class="team-section">
  <div _ngcontent-ike-c21="" class="container">
    <div _ngcontent-ike-c21="" class="section-title">
      <h2 _ngcontent-ike-c21="">THE TEAM</h2>
      <p _ngcontent-ike-c21="">
        CARTEL was created by the largest cannabis growers who set out to make
        cannabis available to the world. While building a platform to donate
        funds and lobby for its Global Legalization (truly a safe space for all)
      </p>
    </div>
    <div _ngcontent-ike-c21="" class="team__container">
      <div _ngcontent-ike-c21="" class="team__item">
        <img
          _ngcontent-ike-c21=""
          src="assets/img/team/antonio-montana.png"
          alt="antonio montana"
          class="team-member"
        />
        <p _ngcontent-ike-c21="">ANTONIO MONTANA</p>
        <span _ngcontent-ike-c21="">THE WORLD IS TRULY HIS</span>
      </div>
      <div _ngcontent-ike-c21="" class="team__item">
        <img
          _ngcontent-ike-c21=""
          src="assets/img/team/sosa.png"
          alt="sosa"
          class="team-member"
        />
        <p _ngcontent-ike-c21="">SOSA</p>
        <span _ngcontent-ike-c21="">MASTER GROWER</span>
      </div>
      <div
        _ngcontent-ike-c21=""
        style="max-width: 100%; height: auto; max-height: 260px"
        class="team__item"
      >
        <img
          _ngcontent-ike-c21=""
          src="assets/img/team/frank-lopez.png"
          alt="frank lopez"
          style="max-height: 260px"
        />
        <p _ngcontent-ike-c21="">FRANK LOPEZ</p>
        <span _ngcontent-ike-c21="">NOT YOUR AVERAGE PATRON</span>
      </div>
      <div _ngcontent-ike-c21="" class="team__item">
        <img
          _ngcontent-ike-c21=""
          src="assets/img/team/elvira-blanco.png"
          alt="elvira blanco"
          class="team-member"
        />
        <p _ngcontent-ike-c21="">ELVIRA BLANCO</p>
        <span _ngcontent-ike-c21="">SEXIER THEN GRISELDA</span>
      </div>
    </div>
  </div>
</section>
