<!-- <section class="mint-wrapper" id="mint-section">
    <h1>MINT</h1>
    <div class="mint-box">
        <form>
            <div class="balance">
                <h3>{{total}} NFTS</h3>
            </div>
            <div class="input-wrap">
                <span>ETH BALANCE</span>
                <span>ETH</span>
            </div>
            <div class="input-wrap">
                <div class="amount">
                    <span>AMOUNT</span>
                    <div>
                        <button class="inc-dec-btn" type="button" (click)="minus()">-</button>
                        <input type="number" value="{{inputValue}}" (input)="onValueChange($event.target.value)" min="{{min}}" max="{{max}}">
                        <button class="inc-dec-btn" type="button" (click)="plus()">+</button>
                    </div>
                    <button type="button" class="custom-button max-btn" (click)="getMax()">MAX</button>
                </div>
            </div>
            <div class="input-wrap">
                <span>TOTAL PRICE</span>
                <span>{{totalPrice}}</span>
            </div>
            <div *ngIf="isConnected; else connect">
                <button class="custom-button" type="button" (click) = "mint()">BUY NOW</button>  
            </div>
            <ng-template #connect>
                <button class="custom-button"  type="button" (click)="connectToMetaMask()">Connect Wallet</button>
              </ng-template>
            <div class="progress">
                <div class="progress-info">
                    <span>PROGRESS</span>
                    <span>{{progress}}%</span>
                </div>
                <div class="progress-wrapper">
                    <div class="progress-bar" [style.width.%]="progress"></div>
                </div>
            </div>
        </form>
    </div>
</section> -->

<section class="minting-section">
    <div class="container">
        <div class="minting__container">
            <div class="section-title">
                <h2>Minting</h2>
                <p>To start minting please Connect your wallet, all NFTs are random</p>
            </div>
            <div class="minting__connect">
                <div class="minting__qty">
                    <a href="#" class="minting-qty-down" (click)="$event.preventDefault();minus()">
                        <i class="icon-minus"></i>
                    </a>
                    <input type="number" value="{{inputValue}}" (input)="onValueChange($event.target.value)" min="{{min}}" max="{{max}}" class="minting-qty">
                    <a href="#" class="minting-qty-up" (click)="$event.preventDefault();plus()">
                        <i class="icon-plus"></i>
                    </a>
                </div>
                <div class="minting__action" *ngIf="isConnected; else connect">
                    <a class="button" href="#" (click)="$event.preventDefault();mint()">BUY NOW</a>
                </div>
                <ng-template #connect>
                    <div class="minting__action">
                        <a class="button" href="#" (click)="$event.preventDefault();connectToMetaMask()">Connect Wallet</a>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</section>