<section id="cartel" class="minting-section">
    <div class="container">
        <div class="minting__container">
            <div class="section-title">
                <h2>WELCOME TO THE CLUB</h2>
                <p>When you buy a Cartel NFT, you’re not simply buying a piece of digital art or a probably-rare piece of art. You are gaining membership access to a club whose benefits and offerings will increase over time. Your Cartel NFT can serve as your digital identity, and open digital doors for you.</p>
            </div>
            <div class="minting__connect">
                <div class="minting__qty">
                    <a href="#" class="minting-qty-down" (click)="$event.preventDefault();minus()">
                        <i class="icon-minus"></i>
                    </a>
                    <input type="number" value="{{inputValue}}" (input)="onValueChange($event.target.value)" min="{{min}}" max="{{max}}" class="minting-qty">
                    <a href="#" class="minting-qty-up" (click)="$event.preventDefault();plus()">
                        <i class="icon-plus"></i>
                    </a>
                </div>
                <div class="minting__action" *ngIf="isConnected; else connect">
                    <a class="button" href="#" (click)="$event.preventDefault();mint()">BUY NOW</a>
                </div>
                <ng-template #connect>
                    <div class="minting__action">
                        <a class="button" href="#" (click)="$event.preventDefault();connectToMetaMask()">Connect Wallet</a>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</section>