<section id="roadmap" class="roadmap-section">
  <div class="container">
      <div class="section-title">
          <h2>ROADMAP ACTIVATIONS</h2>
          <p style="margin-bottom:65px">We’re in this for the long haul. We’ve set up some goalposts for ourselves. Once we hit a target sell through percentage, we will begin to work on realizing the stated goal. Which is to lobby for the legalization and decriminalizing of drugs of all kinds.</p>
      </div>
      <div class="roadmap__container">
          <div class="roadmap__slider">
              <div class="roadmap__item">
                  <span>01</span>
                  <h3>Setting up Design and community</h3>
                  <p>Designing & Developing NFT Cartel website and setting up minting software.</p>
                  <p>Building community in discord server and setting social media</p>
              </div>
              <div class="roadmap__item">
                  <span>02</span>
                  <h3>First Phase Minting </h3>
                  <p>In the first phase community will provide NFT holders with 2000 awesome assets of NFT Cartel Bosses, the minitng will be available on March 15 only for whitelisted wallets.</p>
              </div>
              <div class="roadmap__item">
                  <span>03</span>
                  <h3>Second Phase Minting  </h3>
                  <p>In the second phase community will provide NFT holders with 2000 awesome assets of NFT Cartel Bosses, the minitng will be available on March 16 only for whitelisted wallets.</p>
              </div>
              <div class="roadmap__item">
                  <span>04</span>
                  <h3>Forth Phase Minting  </h3>
                  <p>In the second phase community will provide NFT holders with 2000 awesome assets of NFT Cartel Bosses, the minitng will be available on March 17 only for whitelisted wallets.</p>
              </div>
              <div class="roadmap__item">
                  <span>05</span>
                  <h3>Fifth Phase Minting  </h3>
                  <p>In the second phase community will provide NFT holders with 2000 awesome assets of NFT Cartel Bosses, the minitng will be available on March 18 avaialble for public mint.</p>
              </div>

          </div>
      </div>
  </div>
</section>